{% extends "@Contao/frontend_module/_base.html.twig" %}

{% block content %}

  {% if result == true %}

    <h3>{{ result_headline }}</h3>

    {{ result_text|raw }}

    {{ send_form|raw }}

  {% else %}

    {{ form|raw }}

  {% endif %}

{% endblock %}